<%- include('partials/header') %>

<div class="jumbotron centered" style="background-image: url('Retail-Customer-Service.png'); background-size: cover; height: 100vh;">
  <div class="overlay"></div>
  <div class="container text-center">
    <h1 class="display-3 text-dark" style="margin-bottom: 20px;">ScoutIt</h1>
    <p class="lead text-dark" style="margin-bottom: 30px;">Discover and connect with local stores seamlessly!</p>
    <hr class="my-4">

    <div class="buttons">
      <a class="btn btn-light btn-lg" href="/user" role="button">User</a>
      <a class="btn btn-dark btn-lg" href="/retailer" role="button">Retailer</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
