<%- include('partials/header') %>

<div class="jumbotron centered" style="background-color: rgb(141, 158, 153)"; background-size: cover; height: 100vh;>
  <div class="overlay"></div>
  <div class="container text-center">
    <i class="fas fa-store-alt fa-6x text-dark"></i>
    <h1 class="display-3 text-dark">Retailer</h1>
    <p class="lead text-dark">Explore new opportunities and connect with customers!</p>
    <hr class="my-4">

    <div class="buttons">
      <a class="btn btn-light btn-lg" href="/retailer/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/retailer/login" role="button">Login</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
