<%- include('partials/header') %>

<div class="container mt-5">
  <h2 class="text-center">Retailer Login</h2>

  <% if (locals.message){ %>
    <p id="alert" class="alert alert-danger"><%= message %></p>
    <script>
      // Hide the alert after 7 seconds
      setTimeout(() => {
        const alert = document.getElementById('alert');
        if (alert) {
          alert.style.display = 'none';
        }
      }, 7000);
    </script>
  <% } %>

  <form action="/retailer/login" method="post" class="mt-3">
    <div class="form-group">
      <label for="email_phone">Phone:</label>
      <input type="text" class="form-control" id="email_phone" name="email_phone" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <input type="submit" value="Login" class="btn btn-primary">
  </form>
</div>

<%- include('partials/footer') %>
