<%- include('partials/header') %>

<div class="jumbotron centered" style="background-color: rgb(196, 245, 231)"; background-size: cover; height: 100vh;>
  <div class="overlay"></div>
  <div class="container text-center">
    <h1 class="display-3 text-dark" style="margin-bottom: 20px;">User</h1>
    <p class="lead text-dark" style="margin-bottom: 30px;">Discover and connect with local stores seamlessly!</p>
    <hr class="my-4">

    <div class="buttons">
    <a class="btn btn-light btn-lg" href="/user/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/user/login" role="button">Login</a>

  </div>
</div>
</div>

<%- include('partials/footer') %>
